/* DEFINIÇÃO DAS VARIAVEIS CSS PARA CORES*/
:root{
    --cor-fundo: #010d17;
    --cor-principal: #0b0d20;
    --cor-secundaria: #212333;
    --cor-destaque: #d1d1d1;
    --cor-texto: #fafafa;
    --cor-fadeButtom: #e30d6d;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}